.card {
    width: 90%;
    max-width: 600px;
    margin: 100px auto; /* Center the card */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 60px;
  }
  
  .card h2 {
    font-family: 'Caveat', cursive; /* Handwritten font */
    color: #2f4f4f;
    text-align: center;
    margin-bottom: 20px;
    
  }
  .card p {
    font-family: 'Caveat', cursive;
    color: #2f4f4f;
    margin: 0 0 20px;
    line-height: 1.6;
  }
  .navigation-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
  }
  .back-button, .next-button {
    background-color: #3d352f;
    padding: 10px 20px;
    border-radius: 5px;
    color: #f4f3ec;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .back-button:hover, .next-button:hover {
    background-color: #3d352f;
  }
  .about-content {
    font-family: 'Caveat', cursive; /* Handwritten font style */
    font-size: 1.5em; /* Adjust the size as needed */
    color: #2f4f4f; /* DarkSlateGray */
    text-align: center; /* Center the text */
    margin: 0; /* Remove default margin */
    line-height: 1.5; /* Adjust line height for readability */
    padding: 20px; /* Add padding for spacing */
  }
  
  