.footer {
    background-color: #4b4642; /* Brown color */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(113, 103, 103, 0.1);
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  