/* Page.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F5F5DC; /* Light beige */
    color: #242222; /* Dark brown */
  }
  
  .page-container {
    background: url('/Users/venu/my-portfolio/src/WHITE250.jpg') no-repeat center center;/* Replace with your wall texture */
    background-size: cover;
    min-height: 100vh;
    position: relative; /* Ensure HomeButton and NextButton are positioned correctly */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

  }
  
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #363121; /* Cornsilk */
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.6;
  }
  .page-container.turning {
    animation: turnPage 0.6s forwards; /* Apply page turn effect */
  }
/* styles.css */
.contact-form {
  margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #45a049;
}
  